<!DOCTYPE html>
<html>
<head>
    <title>Ansible Basic</title>
</head>
<body>
    <h1>Ansible Nginx Deployment</h1>
    <p>Deployed automatically using Ansible.</p>
    <p>Hostname: {{ ansible_hostname }}</p>
</body>
</html>
